**/node_modules
**/.env
**/.env.*
.git
**/dist
**/build
**/*.db*
**/*.sqlite*
**/.secrets
**/uploads
**/downloads
**/*.log
**/.gradle
**/test-results
**/playwright-report
**/*keystore*
**/*.jks
**/*.p12
