<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtu_84TlBKb4H3lvs7n5e7dXWcMd0Hw68</string>
	<key>GCM_SENDER_ID</key>
	<string>301798014154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vxin.app</string>
	<key>PROJECT_ID</key>
	<string>vxin-a1230</string>
	<key>STORAGE_BUCKET</key>
	<string>vxin-a1230.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301798014154:ios:81b436b444bc5048998833</string>
</dict>
</plist>